<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ml-kit-object-detect"
        version="0.0.1">

  <name>ML Kit Object Detection</name>

  <engines>
    <engine name="cordova" version=">=9.0.0"/>
    <engine name="cordova-android" version=">=8.0.0"/>
    <engine name="cordova-ios" version=">=6.0.0"/>
  </engines>

  <asset src="www/detectObject.js"
         target="js/detectObject.js"/>

  <js-module src="www/detectObject.js"
             name="detectObject">
    <clobbers target="mlobjectdetect" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml"
                 parent="/*">
      <feature name="MlObjectDetect">
        <param name="android-package"
               value="com.hvaughan3.mlobjectdetectplugin.MlObjectDetect"/>
      </feature>
    </config-file>

    <preference name="MLKIT_OBJECT_RECOGNITION_VERSION"
                default="16.2.5"/>

    <source-file src="src/android/MlObjectDetect.java"
                 target-dir="src/com/hvaughan3/mlobjectdetectplugin/" />
    <framework src="com.google.mlkit:object-detection:$MLKIT_OBJECT_RECOGNITION_VERSION" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml"
                 parent="/*">
      <feature name="MlObjectDetect">
        <param name="ios-package"
               value="MlObjectDetect" />
      </feature>
    </config-file>

    <header-file src="src/ios/MlObjectDetect.h"
                 target-dir="MlObjectDetectPlugin"/>
    <source-file src="src/ios/MlObjectDetect.m"
                 target-dir="MlObjectDetectPlugin"/>

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="MLKitObjectDetection" />
      </pods>
    </podspec>
  </platform>
</plugin>
